<% provide(:title, "A Propos diigwa services pour les africains") %>



<!-- Begin Body -->
<div class="container">
  <div class="row">
        <div class="col-md-3" id="leftCol">
          <br><br><br><br><br><br><br><br><br><br><br><br>
                
        <div class="well"> 
                <ul class="nav nav-stacked" id="sidebar">
                  <li><a href="#sec1">A propos de "Dii Gwa"</a></li>
                  <li><a href="#sec2">Objectif</a></li>
                  <li><a href="#sec3">Origine</a></li>
                  <li><a href="#sec4">Fondateur</a></li>
                </ul>
          </div>

          </div>  

          <br><br><br><br><br><br><br><br>
          <div class="col-md-9">
                <h2 id="sec0">À PROPOS DE  "Dii Gwa"</h2>
                
            
           
                <hr class="col-md-12">
                <p><h4>Fondée en Fevrier 2016 et basée à Paris, "Dii Gwa" est un plate-forme de service en france pour les africains. Un site de  confiance qui permet de proposer des services uniques aux Africains.</p> 

                <p>IL permet d'avoir accès à des produits et services qui ne sont pas disponible ou qui peuvent couter très chèr sur le continent et qui sont disponible en France et en Europe.</p>
                <br><br>

                <p>Qu'il s'agisse d'un sac de marque, d'une voiture, d'un jeux vidéo, d'un livre , d'un accessoire,  d'un accompagnement lors de son voyage en France, d'une reservation de train, d'une voiture avec chauffeur.</p>

                <p> "Dii Gwa" offre une expérience unique et personnalisée.</p></h4>

                <p>
                <i><h3> <strong>TOUT CE QUE VOUS VOULEZ</strong></h3></i>. 
                
                </p>


              
                <br>
                <hr>

                <h2 id="sec1">OBJECTIF</h2>
                <p>
                  <br>
                  <h4>Notre Objectif est de faciliter l'accès à ses produits et services disponible en FRANCE, à moindre cout, et faire gagner du Temps aux utilisateurs des Services. </h4>
                  <br>

                </p>
                <div class="row">
                  <div class="col-md-6">
                    <div class="panel panel-default">
                      <div class="panel-heading"><h3>Le Service E-COMMERCE</h3></div>
                      <div class="panel-body"><div class="text-center">
                        <a href="">
                            <%=link_to image_tag("amazon.png", :alt => "ecommerce", :class => 'img-responsive'), commerce_path %>
                        </a>
                        <h3 class="text-center"></h3>
                    </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                      <div class="panel panel-default">
                      <div class="panel-heading"><h3>E-CONCIERGERIE</h3></div>
                      <div class="panel-body"><div class="text-center">
                        <a href="">
                            <%=link_to image_tag("concierge.png", :alt => "conciergerie", :class => 'img-responsive'),conciergerie_path  %>
                        </a>
                        <h3 class="text-center"></h3>
                    </div>
                      </div>
                    </div>
                  </div>  
                </div>
              
                <hr>
              
                <h2 id="sec2"></h2>
                <p>
                <h4>Notre société dispensait ses SERVICES à des professionnels et certains particuliers en Afrique.</h4> 

                </p>

                <p>
                <h4>Nous Souhaitons démocratiser ses SERVICES et les mettre à la portée de <strong>TOUS LES AFRICAINS</strong>. </h4>
                
                </p>
                <br><br>
                <p>
                <i><h3> <strong>IL N'YA PLUS DE LIMITES QUE DES OPPORTUNITÉS</strong></h3></i>. 
                
                </p>
                <div class="row">
                  <div class="col-md-6"><%= image_tag("diigwa2.png", :alt => "diigwa", :class => 'img-responsive') %> </a></div>
                   
                    <div class="col-md-6"><%= image_tag("africa.png", :alt => "diigwa", :class => 'img-responsive')%> </a></div>
                </div>
              
                <hr>
              <br><br>
                <h2 id="sec3">ORIGINE</h2>

                <br><br>
            <h4><p><strong>"Dii Gwa"</strong> en langue baoulé signifie "Faire le marché"</p></h4>


            <hr>

              
              
                <h2 id="sec4">FONDATEUR</h2>
                <br><br>
                <div class="col-md-4">
                 <p><i><h4><strong>Kouakou MENSAH</strong></h4></i></p>

               </div>



                <div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
            
              
              
                <hr>
                <hr>
                
                
          </div> 
    </div>
</div>



