<% provide(:title, "E-COMMERCE POUR LES AFRICAINS dii gwa") %>

<br>
<br>
<br>
<br>

<header class="masthead">
	<div class="container">
		<div class="row">
			<div class="col col-sm-6">
				<h2><a href="#" title="scroll down for your viewing pleasure">Le Service E-COMMERCE</a>
					<p class="lead">Fait Vos achats Sur Internet/Boutique/Fournisseurs et Vous les Fait Parvenir </p></h2>
				</div>
				<div class="col col-sm-6">
					<div class="well pull-right">
						<%= image_tag( "favicon-196.png", :alt => "dii", :class => 'img-responsive') %>        
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col col-sm-12">

					<div class="panel">
						<div class="panel-body">
							A VOTRE SERVICE  <span class="glyphicon glyphicon-heart-empty"></span>
						</div>
					</div>

				</div>
			</div>
		</div>
	</header>

	<!-- Begin Body -->
	<div class="container">
		<div class="row">
			<div style="color:#5491bd"class="col col-sm-3">
				<div style="color:#5491bd"id="sidebar">
					<ul class="nav nav-stacked">
						<li><h3 class="highlight">SERVICES <i style="color:#5491bd"class="glyphicon glyphicon-dashboard pull-right"></i></h3></li>
						<li><%= link_to "E-CONCIERGERIE", conciergerie_path %></li>
						<li><%= link_to "CONDITIONS GENERALES DE SERVICES", condition_path %></li>
					</ul>

				</div>
			</div>  
			<div class="col col-sm-9">
				<div class="panel">
					<h3>COMMENT ÇA MARCHE ?</h3>
					<br><br>

					<div class="row">
						<div class="row">
						<div class="col col-sm-8">
							<div class="embed-responsive embed-responsive-16by9">

								<iframe width="560" height="315" src="https://www.youtube.com/embed/9ibpLNt2UXk" frameborder="0" allowfullscreen></iframe>
							</div>
						</div> 
						<div class="col col-sm-4">
							<h4>SUIVEZ NOUS</h4>

							<i class="fa fa-facebook fa-3x"></i>

							<i class="fa fa-twitter fa-3x"></i>

							<i class="fa fa-google-plus fa-3x"></i>
							<hr>

							<h5> POUR LES BONS PLANS </h5>
							<h5> REDUCTIONS DES BOUTIQUES</h5>

						</div>   
					</div>  
					</div>
					<br><br>
					<br><br>


					<hr>

					<div class="panel panel-primary">
						<!-- Default panel contents -->
						<div class="panel-heading"><h3>UTILISATEURS<h3></div>
						<div class="panel-body">
							<p><h4>EN AFRIQUE <h4></p>
						</div>

						<!-- List group -->
						<ul class="list-group">
							<li class="list-group-item"><h5>LES PARTICULIERS <h5> </li>

							<li class="list-group-item"><h5>LES PROFESSIONNELS</h5></li>

						</ul>
					</div>
					<br><br>

					<div class="panel panel-primary">
						<!-- Default panel contents -->
						<div class="panel-heading"><h3>Service E-COMMERCE<h3></div>
						<div class="panel-body">
							<p><h4>DEPUIS LA FRANCE<h4></p>
						</div>

						<!-- List group -->
						<ul class="list-group">
							<li class="list-group-item"><h5> <strong>PERSONNAL SHOPPER</strong> pour les Particuliers</h5></li>
							<li class="list-group-item"><h5><strong>CENTRALE D'ACHAT</strong> pour les Professionnels</h5></li>

							
							
						</ul>
					</div>








					<br><br>

					<hr>

					

					<hr>

					<div class="panel panel-primary">
						<!-- Default panel contents -->
						<div class="panel-heading"><h3>QUELQUES PRODUITS<h3></div>
						<div class="panel-body">
						<p><h4>LISTE NON EXHAUSTIVE<h4></p>

						</div>

						<!-- List group -->
						<ul class="list-group">
							<li class="list-group-item"><h5>Jouets, Enfants et Bébés <h5> </li>

							<li class="list-group-item"><h5>Livres</h5></li>
							<li class="list-group-item"><h5>Jeux vidéo et Consoles <h5> </li>

							<li class="list-group-item"><h5>High-Tech et Informatique</h5></li>

							<li class="list-group-item"><h5>Maison, Bricolage, Animalerie<h5> </li>

							<li class="list-group-item"><h5>Beauté, Santé, Épicerie</h5></li>
							<li class="list-group-item"><h5>Vêtements et Chaussures
								<h5> </li>

							<li class="list-group-item"><h5>Montres et Bijoux
									</h5></li>
							<li class="list-group-item"><h5>Sports et Loisirs
										<h5> </li>

							<li class="list-group-item"><h5>Auto et Moto</h5></li>

							<li class="list-group-item"><h5>Commerce, Industrie et Science<h5> </li>



										</ul>
									</div>
									<br><br>

									<hr>

									<div class="row">
										<div class="col col-sm-6">
											<%= image_tag( "amazon.png", :alt => "categorie", :class => 'img-responsive') %>   

										</div> 
										<div class="col col-sm-6">
											<h2>Tout Ce Que Vous Voulez d'un Simple Mail</h2>
											<h2> <a href="mailto:commerce@diigwa.com"> <span style="color:#5491bd" class="glyphicon glyphicon-envelope"></span></h2></a>
										</div>   
									</div>

									<hr>

									<div class="panel panel-primary">
										<!-- Default panel contents -->
										<div class="panel-heading"><h3>AVANTAGES<h3></div>
										<div class="panel-body">
											<p><h4>DIIGWA<h4></p>
										</div>

										<!-- List group -->
										<ul class="list-group">
											<li class="list-group-item"><h5>PLUS GRAND CHOIX<h5></li>

											<li class="list-group-item"><h5>UNE MEILLEURE DISPONIBILITE</h5></li>
											<li class="list-group-item"><h5>LE PRIX EST TRANSPARENT</h5></li>
											<li class="list-group-item"><h5>LE PLUS C'EST <strong>LE SERVICE</strong></h5></li>



										</ul>
									</div>

									<hr>




									<div class="panel panel-primary">
										<!-- Default panel contents -->
										<div class="panel-heading"><h3>DEMARCHE<h3></div>
										<div class="panel-body">
											<p><h5>VOUS <strong>IMPORTEZ</strong> VOS  PRODUITS  <h5></p>
											<p><h5>LES COMMANDES SONT ENVOYÉES PAR TRANSPORTEUR <h5></p>
											<p><h5>DES SOLUTIONs SUR MESURES SELON VOS EXIGENCES <h5></p>

										</div>

										<!-- List group -->

									</div>



								</div>
							</div> 
						</div>
					</div>



