<% provide(:title, "E-CONCIERGERIE POUR LES AFRICAINS dii gwa") %>

<br>
<br>
<br>
<br>

<header class="masthead">
	<div class="container">
		<div class="row">
			<div class="col col-sm-6">
				<h2><a href="#" title="scroll down for your viewing pleasure">E-CONCIERGERIE</a>
					<p class="lead">Votre Assistant Personnel en France </p></h2>
				</div>
				<div class="col col-sm-6">
					<div class="well pull-right">
						<%= image_tag( "favicon-196.png", :alt => "dii", :class => 'img-responsive') %>        
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col col-sm-12">

					<div class="panel">
						<div class="panel-body">
							A VOTRE SERVICE  <span class="glyphicon glyphicon-heart-empty"></span>
						</div>
					</div>

				</div>
			</div>
		</div>
	</header>

	<!-- Begin Body -->
	<div class="container">
		<div class="row">
			<div style="color:#5491bd"class="col col-sm-3">
				<div style="color:#5491bd"id="sidebar">
					<ul class="nav nav-stacked">
						<li><h3 class="highlight">SERVICES <i style="color:#5491bd"class="glyphicon glyphicon-dashboard pull-right"></i></h3></li>
						<li><%= link_to "Service E-COMMERCE", commerce_path %></li>
						<li><%= link_to "CONDITIONS GENERALES DE SERVICES", condition_path %></li>
					</ul>

				</div>
			</div>  
			<div class="col col-sm-9">
				<div class="panel">
					<h3>COMMENT ÇA MARCHE ?</h3>
					<br><br>

					<div class="row">
						<div class="col col-sm-8">
							<section class="container-fluid" id="section8">
							<div class="embed-responsive embed-responsive-16by9">

								<iframe width="560" height="315" src="https://www.youtube.com/embed/HqfzZMUCesE" frameborder="0" allowfullscreen></iframe>
							</div>
							</section>
						</div> 
						<div class="col col-sm-4">
							<h4>SUIVEZ NOUS</h4>

							<i class="fa fa-facebook fa-3x"></i>

							<i class="fa fa-twitter fa-3x"></i>

							<i class="fa fa-google-plus fa-3x"></i>

						</div>   
					</div>
					<br><br>
					<br><br>


					<hr>

					<div class="panel panel-primary">
						<!-- Default panel contents -->
						<div class="panel-heading"><h3>UTILISATEURS<h3></div>
						<div class="panel-body">
							<p><h4>DEPUIS L'AFRIQUE <h4></p>
						</div>

						<!-- List group -->
						<ul class="list-group">
							<li class="list-group-item"><h5>LES AFRICAINS EN VOYAGE EN FRANCE<h5> </li>

							<li class="list-group-item"><h5>LES PARENTS D'ETUDIANTS</h5></li>
							<li class="list-group-item"><h5>LES EXPATRIÉS EN AFRIQUE</h5></li>
							<li class="list-group-item"><h5>...</h5></li>

						</ul>
					</div>
					<br><br>

					<div class="panel panel-primary">
						<!-- Default panel contents -->
						<div class="panel-heading"><h3>E-CONCIERGERIE<h3></div>
						<div class="panel-body">
											<p><h5>VOTRE ASSISTANT PERSONNEL EN FRANCE<h5></p>

										</div>

					</div>








					<br><br>

					<hr>

					

					<hr>

					<div class="panel panel-primary">
						<!-- Default panel contents -->
						<div class="panel-heading"><h3>QUELQUES SERVICES<h3></div>
						<div class="panel-body">
							<p><h4>LISTE NON EXHAUSTIVE<h4></p>

						</div>

						<!-- List group -->
						<ul class="list-group">
							<li class="list-group-item"><h5>Transfert Aéroport <h5> </li>
							<li class="list-group-item"><h5>Voiture avec Chauffeur</h5></li>


							<li class="list-group-item"><h5>Démarches Administratives</h5></li>
							<li class="list-group-item"><h5>Accompagnement des Etudiants <h5> </li>

							<li class="list-group-item"><h5>Organisation Sejour</h5></li>

							<li class="list-group-item"><h5>Réservation<h5> </li>
							<li class="list-group-item"><h5> Tout ce qui n'est pas à votre portée et que vous n'avez pas le temps de faire... <h5> </li>


							



										</ul>
									</div>
									<br><br>

									<hr>

									<div class="row">
										<div class="col col-sm-6">
											<%= image_tag( "concierge.png", :alt => "concierge", :class => 'img-responsive') %>   

										</div> 
										<div class="col col-sm-6">
											<h2>Tout Ce Que Vous Voulez d'un Simple Mail</h2>
											<h2> <a href="mailto:conciergerie@diigwa.com"> <span style="color:#5491bd" class="glyphicon glyphicon-envelope"></span></h2></a>
										</div>   
									</div>

									<hr>

									<div class="panel panel-primary">
										<!-- Default panel contents -->
										<div class="panel-heading"><h3>AVANTAGES<h3></div>
										<div class="panel-body">
											<p><h4>DIIGWA<h4></p>
										</div>

										<!-- List group -->
										<ul class="list-group">
											<li class="list-group-item"><h5>UNE MEILLEURE CONNAISSANCE DE LA FRANCE<h5></li>

											<li class="list-group-item"><h5>UNE DISPONIBILITE</h5></li>
											<li class="list-group-item"><h5>UN PRIX TRANSPARENT</h5></li>
											<li class="list-group-item"><h5>UN SERVICE SUR MESURE</h5></li>



										</ul>
									</div>

									<hr>




									<div class="panel panel-primary">
										<!-- Default panel contents -->
										<div class="panel-heading"><h3>DEMARCHE<h3></div>
										<div class="panel-body">
											<p><h5>NOUS VOUS INFORMONS DE LA REALISATION DES PRESTATIONS <h5></p>

										</div>

										<!-- List group -->

									</div>



								</div>
							</div> 
						</div>
					</div>



