<% provide(:title, "Conditions") %>
            <br>
            <br>
            <br>
            <br>
            <br>

<div class="page-container">
  
      
    <div class="container">
      <div class="row row-offcanvas row-offcanvas-left">
        
        <!-- sidebar -->
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
            <ul class="nav">
              <li> <%= link_to image_tag("diigwa.png", :alt => "diigwa", :class => 'img-responsive'), root_path %></li>
              <li><a href="#société">Société</a></li>
              <li><a href="#généralités">Généralités</a></li>
              <li><a href="#terminologie">Terminologie</a></li> 
              <li><a href="#modalité">Modalité de commande et Prix</a></li>
              <li><a href="#disponibilité">Disponibilité des produits et services</a></li>
              <li><a href="#droit">Droit de rétractation</a></li>  
              <li><a href="#paiement">Paiement</a></li>
              <li><a href="#conditions">Conditions financières - Rémunération de la société</a></li> 
              <li><a href="#livraison">Livraison</a></li>
              <li><a href="#dispositions">Dispositions Générales</a></li>
              <li><a href="#loi">Loi applicable et attribution de comptétence</a></li>  
            </ul>
        </div>
    
        <!-- main area -->
        <div class="col-xs-12 col-sm-9">

            <br>
            <br>
            <br>
            <br>

          <h2>CONDITIONS GÉNÉRALES DE SERVICES </h2>
              <p>
    
</p>
<section class="container-fluid" id="article">

<h3>

    Article 1 – Société
</h3>
<br><br>
<p>
    CHOOSE STAY est une société par action simplifiée dont le siège est situé à PARIS (75001) au 142 rue de Rivoli et enregistrée au Registre du Commerce et
    des Sociétés de Paris sous le numéro 801 590 530, SIREN : 801 590 530 00011, CODE NAF 6201Z, TVA intracommunautaire : FR79 801 590 530.
</p>
<p>
    Directeur de Publication : Kouakou MENSAH
</p>
<p>
    Adresse Postale : 142 rue de Rivoli 75001 Paris
</p>

</section>

<section class="container-fluid" id="généralités">

<h3>
    Article 2 – Généralités
</h3>
<br><br>
<p>
    Les présentes Conditions Générales de Service  de la société CHOOSE STAY SAS définissent les droits et obligations des parties dans le cadre de la vente de
    produits et services par “diigwa.com ” aux Utilisateurs du Site Internet diigwa.com (ci-après désigné par « <strong>le Site Internet</strong> »).
</p>
<p>
    Les services sont proposés en France métropolitaine, en langue française, sont vendus en quantité limitée et sont proposés aux Utilisateurs jusqu'à
    épuisement.
</p>
<p>
    L’utilisateur déclare en avoir pris connaissance et accepté les droits et obligations y afférents. Toute commande faite sur les services est régie par les
    présentes conditions.
</p>
</section>

<section class="container-fluid" id="terminologie">

<h3>
    Article 3 – Terminologie
</h3>
<br><br>

<p>
    <strong>« “diigwa.com” »</strong>
    désigne la SOCIÉTÉ CHOOSE STAY SAS qui exploite la plateforme de service accessible via le site "www.diigwa.com"
</p>

<p>
    <strong>« Services “diigwa” »</strong>
    désigne l’ensemble des prestations proposées par diigwa.com sur son Site Internet.
</p>
<p>
    <strong>« Utilisateur »</strong>
    désigne chaque personne physique ou morale, majeure et capable et souhaitant bénéficier des Services de “diigwa.com” et qui satisfera aux présentes
    Conditions Générales de Service.
</p>
<p>
    <strong>« Commande »</strong>
    désigne chaque acquisition ou réservation d’un produit ou d’un service effectuée par un Utilisateur sur le Site Internet dans les conditions prévues dans
    les présentes Conditions Générales de Service.
</p>
<p>
    <strong>« Fiche Produit /Fiche Descriptive »</strong>
    désigne le produit choisi par le client sur le Site Internet.
</p>

</section>

<section class="container-fluid" id="modalités">

<h3>
    Article 4 – Modalités de Commande et Prix
</h3>
<p>
    <br><br>

    <u>4.1 Réalisation de la Commande</u>
</p>
    <br><br>

<p>
    Les Utilisateurs ont la possibilité de commander àux adresses "commerce@diigwa.com" pour le service E-COMMERCE et "conciergerie@diigwa.com" pour l'E-CONICIERGERIE du site www.diigwa.com.
</p>
        <br><br>


<p>
    L' Utilisateur choisit le produit ou le service qu’il souhaite acheter grâce à un lien internet du produit sur un site ou à une description
    précise du produit ainsi que le magasin (adresse, numéro de téléphone, exacte et à jour).
</p>
<p>
    L'Utilisateur indique dans son MAIL le produit qu’il souhaite.
</p>
<p>
    L'Utilisateur doit décrire le ou les produits qu’il souhaite les plus exactement et précisément possibles en détaillant la marque, le modèle, la
    référence, la quantité, la catégorie, la couleur, le magasin où le produit doit être acheté.
</p>
<p>
    Il incombe à  l'Utilisateur d’indiquer le prix du produit qu’il souhaite acheter chez diigwa.com.
</p>
<p>
    Le prix de chaque produit ou service est indiqué dans la Fiche Produit ou service correspondante. Les frais d’expédition de la Commande de l’utilisateur
    lui seront indiqués avant la validation définitive de celle-ci.
</p>
<p>
    diigwa.com valide la Commande de l’utilisateur et vérifie la faisabilité de la Commande. Si la Commande est validée par “diigwa.com”, l’utilisateur reçoit un
    courriel de confirmation.
</p>
<p>
    Services “diigwa” achète le produit et vous le revend.
</p>
<p>
    Pour les livraisons et prestations de services en dehors du territoire français, les dispositions prévues par le Code général des impôts relativement à la
    TVA seront applicables.
</p>
<p>
    L’Utilisateur recevra un devis de sa commande, les frais de livraison (modalité) et la commission sur son adresse mail.
</p>
<p>
    Après avoir confirmé le devis de sa Commande, l’utilisateur la validera définitivement par le paiement. La Commande ne sera définitive qu’à compter du
    paiement du prix correspondant.
</p>
<p>
    L’Utilisateur garantit qu’il est pleinement habilité à utiliser la carte de paiement ou son compte Paypal (paiement via un compte Paypal) pour le paiement
    de sa commande, d’effectuer un virement bancaire ou un transfert d’argent.
</p>
<p>
    “diigwa.com” confirmera systématiquement la commande de chaque Utilisateur, puis son expédition par courrier électronique.
</p>
<p>
    Pendant ce processus de réalisation de la commande, diigwa.com peut être amenée à contacter l’utilisateur pour lui demander de préciser sa commande ou de
    l’ajuster en fonction des produits disponibles en magasin.
</p>
<p>
    L’Utilisateur doit être accessible notamment via son téléphone mobile ou par mail.
</p>
<p>
    <u>4.2 Non réalisation de la commande par diigwa.com</u>
</p>
<p>
    diigwa.com ne pourra pas réaliser la commande dans les cas suivants :
</p>
<p>
    - Produit manquant ou absence de produits de remplacement ;
</p>
<p>
    - Non-réponse ou réponse tardive de l’utilisateur aux demandes de précisions diigwa.com.
</p>
<p>
    “diigwa.com" remet à l'Utilisateur, les documents qui lui ont été remis par le vendeur/fournisseur (garanties, etc...).
</p>
<p>
    En cas de doute sur la capacité de l’Utilisateur (notamment âge), “diigwa.com“ pourra demander au Utilisateur une pièce d’identité.
</p>
<p>
    La commission liée à l’achat des produits par des présentes conditions générales de services, est à partir de 9% de la facture.
</p>
<p>
    Le paiement par l’utilisateur : L’utilisateur procède au paiement sur les factures PayPal par carte bancaire ou un compte PayPal.
</p>
<p>
    <br><br>
    <u>4.3 Limites du Service</u>
    <br><br>
</p>
<p>
    "diigwa.com" s’efforce d’organiser la réalisation de l’ensemble de la commande par l’utilisateur en fonction des instructions reçues de l’utilisateur.
    Toutefois, en l’absence de disponibilité dans le magasin. Cela ne remettra pas en cause la réalisation de la Commande.
</p>
<br><br>

<p>
    <u>4.4 – Accès au Site et au Service</u>
</p>
<br><br>

<p>
    Services “diigwa”  sont réservés exclusivement aux personnes pour un usage personnel et strictement non commercial. L’utilisateur garantit en conséquence relever
    de cette catégorie.
</p>
<br><br>
<p>
    <u>4.5 Convention de preuve</u>
</p>
<br><br>
<p>
    Les Parties reconnaissent que la présente convention de preuve sera applicable dans le cadre de l’utilisation et de l’exécution du Services “diigwa” .
</p>
<p>
    Sauf spécificité précisée par une clause particulière et à moins qu’une preuve contraire ne soit présentée, les Parties reconnaissent et conviennent
    expressément que les SMS, les MMS, les courriers électroniques, les échanges par messagerie instantanée, les documents et autres écrits électroniques issus
    de l’utilisation du Services “diigwa”  ou émis et échangés par “diigwa.com” et l'Utilisateur dans le cadre du Service (ci-après, les « Ecrits Electroniques ») :
</p>
<p>
    - constituent des documents originaux entre les Parties ;
</p>
<p>
    - sont des écrits électroniques au sens des articles 1316 et suivants du Code civil, et ont en conséquence la même valeur et la même force probante qu’un
    écrit papier ;
</p>
<p>
    - prévalent sur tout autre écrit (papier ou électronique) à contenu (y inclus date) identique
</p>
<p>
    - valent preuve entre les Parties du support et du contenu qu’ils représentent ;
</p>
<p>
    - justifient les conséquences et les opérations pouvant en découler (par exemple, preuve sur du prix définitif du produit, objet du Mandat) ;
</p>
<p>
    - font foi de l’identité des Parties et de l’imputabilité de l’Ecrit Electronique ;
</p>
<p>
    - font foi de l’intégrité des Ecrits Electroniques ;
</p>
<p>
    - font foi des dates et heures associées à l’Ecrit Electronique ;
</p>
<p>
    - font foi du bon envoi et de la bonne réception de l’Ecrit Electronique ;
</p>
<p>
    - sont admissibles comme preuve devant les tribunaux compétents.
</p>
<p>
    En tout état de cause, les Parties renoncent expressément à invoquer la nullité, la non-application, le défaut de valeur juridique probatoire ou la
    non-opposabilité des Ecrits Electroniques sous prétexte qu’ils seraient issus de l’utilisation ou l’exécution du Service ou encore qu’ils seraient sous
    forme électronique ou qu’ils émaneraient d’une personne ou de “diigwa.com “.
</p>
</section>

<section class="container-fluid" id="disponiblité">

<h3>
    Article 5 – Disponibilité des produits et services
</h3>
<br> <br>
<p>
    <strong></strong>
</p>
<p>
    Dans l’éventualité d’une indisponibilité totale ou partielle de produit après passation de la Commande, l’utilisateur sera informé par courrier
    électronique de la livraison d’une commande partielle ou de l’annulation de sa Commande.
</p>
<p>
    En application des dispositions des articles L 138-2 et L 138-3 du Code de la consommation, en cas d’indisponibilité du produit ou du service,
    l’utilisateur dispose alors de la faculté d’être remboursé du prix du produit ou service commandé dans les 14 jours suivant sa demande.
</p>

</section>

<section class="container-fluid" id="droit">

<h3>
    Article 6 – Droit de rétractation
</h3>
<br><br>
<h4>
    6.1 Périmètre  
</h4>
<br><br>
<p>
    Concernant les biens et/ou services commercialisés par diigwa.com, et hormis les exceptions énumérées ci-dessous, les Utilisateurs bénéficient d’un droit de
    se rétracter et de renvoyer leur(s) produit(s) et/ou service(s) pendant <strong>quatorze jours </strong>francs à compter de la date de livraison de ceux-ci
    ou à compter de la conclusion du contrat pour les prestations de service, conformément aux dispositions de l’article L 121-21 du Code de la consommation.
</p>
<p>
    L’Utilisateur peut, dans les <strong>quatorze jours</strong> qui suivent la livraison de sa commande ou de la conclusion du contrat de prestation de
    service, et concernant les produits soumis au droit de rétractation, exercer celui-ci en notifiant leur volonté de rétractation tel qu’indiqué ci-dessous à
    l’article 7.2
</p>
<p>
    Conformément à l’article L 121-21-5 du Code de la consommation, l’utilisateur qui demande l’exécution d’une prestation de service avant la fin du délai de
    rétractation peut toutefois exercer son droit de rétractation.
</p>
<p>
    Dans une telle hypothèse, “diigwa.com” est en droit de lui réclamer le versement d’un montant correspondant au service fourni jusqu’à la communication de sa
    décision de se rétracter, pour autant que “diigwa.com“ ait recueilli la demande expresse de l’tilisateur pour l’exécution dudit service pendant la durée de
    son droit de rétractation.
</p>
<p>
    En revanche, certains produits et services listés à l’article L.121-21-8 du Code de la consommation ne peuvent faire l’objet d’un droit de rétractation de
    la part de l’utilisateur, les produits ou services concernés étant en tout état de cause désignés comme tels aux Utilisateurs avant la conclusion de la
    vente, dans les Fiches Descriptives.
</p>
<p>
    Il s’agit notamment :
</p>
<p>
    - de la fourniture de services pleinement exécutés avant la fin du délai de rétractation et dont l’exécution a commencé après accord préalable exprès du
    Utilisateur et renoncement exprès à son droit de rétractation ; Ainsi, dans le cadre de la fourniture de services, l’Utilisateur qui demanderait sa pleine
    exécution avant la fin du délai légal de rétractation, reconnait renoncer expressément à son droit de rétractation.
</p>
<p>
    - De la fourniture de biens ou de services dont le prix dépend de fluctuations sur le marché financier échappant au contrôle du professionnel et
    susceptibles de se produire pendant le délai de rétractation ;
</p>
<p>
    - De la fourniture de biens confectionnés selon les spécifications du consommateur ou nettement personnalisés ;
</p>
<p>
    - De la fourniture de biens susceptibles de se détériorer ou de se périmer rapidement ;
</p>
<p>
    - De la fourniture de biens qui ont été descellés par le consommateur après la livraison et qui ne peuvent être renvoyés pour des raisons d’hygiène ou de
    protection de la santé ;
</p>
<p>
    - De la fourniture de biens qui, après avoir été livrés et de par leur nature, sont mélangés de manière indissociable avec d’autres articles ;
</p>
<p>
    - De fourniture de boisson alcoolisées dont la livraison est différée au-delà de trente jours et dont la valeur convenue à la conclusion du contrat dépend
    de fluctuation sur le marché échappant au contrôle du professionnel ;
</p>
<p>
    - De la fourniture d’enregistrements audio ou vidéo ou de logiciels informatiques lorsqu’ils ont été descellés par le consommateur après la livraison ;
</p>
<p>
    - De la fourniture d’un journal, d’un périodique ou d’un magazine, sauf pour les contrats d’abonnement à ces publications ;
</p>
<p>
    - Des prestations de services d’hébergement, autres que d’hébergement résidentiel, de services de transport de biens, de locations de voitures, de
    restauration ou d’activités de loisirs qui doivent être fournis à une date ou à une période déterminée ;
</p>
<p>
    - De la fourniture d’un contenu numérique non fourni sur un support matériel dont l’exécution a commencé après accord préalable exprès du consommateur et
    renoncement exprès à son droit de rétractation.
</p>
<p>
    - De même, l’Utilisateur ne pourra pas exercer son droit de rétractation concernant les produits et services visés à l’article L. 121-16-1 du Code de la
    consommation, à savoir notamment :
</p>
<p>
    - Les contrats portant sur un forfait touristique, au sens de l’article L 211-2 du code du tourisme ;
</p>
<p>
    - les contrats portant sur les services de transport de passagers ;
</p>
<p>
    <strong></strong>
</p>
<br><br>
<h4>
    <u>6.2 Modalités</u>
</h4>
<br><br>
<h5>
    <u>6.2.1 Notification de la rétractation :</u>
</h5>
<br><br>
<p>
    Préalablement à tout retour d’un produit ou rétractation d’un service, l’utilisateur devra notifier son intention de se rétracter :
</p>
<p>
    Soit <u>en téléphonant au numéro suivant</u> :
</p>
<p>
     
</p>
<p>
    Soit en renvoyant le formulaire de rétractation <u>dument complété et signé </u>à l’adresse suivante : 
</p>
<br><br>
<h5>
    <u>6.2.2 Retour des produits :</u>
</h5>
<br><br>
<h5>
      
</h5>
<p>
Conformément aux dispositions de l’article L 121-21-3 du code de la consommation l’utilisateur doit retourner son produit au plus tard dans les    <strong>quatorze jours</strong> qui suivent la communication de sa décision de se rétracter.
</p>
<p>
    L’utilisateur doit retourner son produit dans les conditions définies à l’article 9 ci-dessous des présentes Conditions Générales de Vente.
</p>
<h4>
    <u>6.3 Frais de retour et Remboursement</u>
    <u> </u>
    <u></u>
</h4>
<h5>
    <u>6.3.1 Frais de retour  </u>
</h5>
<p>
    <strong>Les frais de retour des produits sont à la charge de l’utilisateur.</strong>
     Le transport des produits ainsi retournés est de la responsabilité de l’utilisateur.
</p>
<p>
    Dans l’hypothèse où le produit, en raison de sa nature, ne peut pas être renvoyé par la Poste, un coût estimatif du retour du produit qui reste à la charge
    de l’utilisateur sera indiqué, à titre d’information, dans la Fiche Descriptive du produit ainsi que dans l’email de confirmation de commande qui sera
    envoyé à l'Utilisateur.
</p>
<p>
    Cette estimation du coût du retour n’engage pas "diigwa.com". Le prix à payer pour le renvoi du produit par l’utilisateur sera fonction du transporteur que l'
    Utilisateur aura choisi pour retourner son produit.
</p>
<h5>
    <u>6.3.2 Remboursement  </u>
</h5>
<p>
    Le retour de l'ensemble des produits ou services commandés donnera lieu à un remboursement égal à la totalité des sommes versées par l’Utilisateur, c'est à
    dire au prix d’achat du ou des produit(s) ou service(s) acheté(s) et aux frais éventuels de livraison.
</p>
<p>
Le remboursement de l’utilisateur sera effectué par tout moyen de paiement dans le délai de  <strong>quatorze jours à compter de la réception par “diigwa.com" de la demande d’exercice du droit de rétractation</strong> par l’utilisateur, et si le
    produit concerné a été reçu par “diigwa.com" durant ce délai.
</p>
<p>
    Cependant conformément à l’alinéa 2 de l’article L 121-21-4 du code de la consommation, ce délai de remboursement est différé jusqu’à la récupération du
    produit par “diigwa”.com ou jusqu’à ce que l’Utilisateur ait fourni la preuve de l’expédition du produit concerné. On entend par preuve d’expédition du
    produit, tout moyen permettant de justifier sans contestation possible de l’envoi du produit concerné auprès de "diigwa.com".
</p>

</section>

<section class="container-fluid" id="paiement">

<h3>
    Article 7 - Paiement
</h3>
<p>
    Le paiement des achats s’effectue au moyen d’une carte de paiement, un compte PayPal, un virement bancaire ou un transfert d’argent.
</p>
<p>
    Si PayPal, Le montant des achats sera immédiatement débité du compte PayPal. La commande sera considérée comme effective après confirmation de l’accord des
    centres de paiement bancaire.
</p>
<p>
    Il appartient à l'Utilisateur d’enregistrer et d’imprimer son certificat de paiement ou de conserver son reçu de transfert, s'il souhaite conserver ses
    détails bancaires et relatives à sa transaction.
</p>
<p>
    L’Utilisateur garantit qu’il est pleinement habilité à utiliser la carte de paiement ou son compte PayPal pour le paiement de sa Commande et que ces moyens
    de paiement donnent accès à des fonds suffisants pour couvrir tous les coûts résultant de l’utilisation des Services "diigwa".
</p>

</section>

<section class="container-fluid" id="condition">

<h3>
    Article 8 – Conditions financières – Rémunération de la société
</h3>
<br><br>
<p>
    Pour chaque transaction, la Société percevra une commission égale au minimum de 9 % du montant total de chaque Commande au titre des Services qu'elle
    réalise. 
</p>
</section>

<section class="container-fluid" id="livraison">

<h3>
    Article 9 – Livraison
</h3>
<br><br>
<p>
    Les produits ou services seront envoyés à l’adresse de livraison que l’utilisateur a indiquée au cours du processus de Commande.
</p>
<p>
    A défaut d’adressage précise et de processus de livraison dans le pays, l’utilisateur devra retirer son produit chez le transporteur le plus proche de son lieu d'habitation avec une pièce
    d’identité officielle.
</p>
<p>
    Le nom et l’adresse du transporteur vous sera communiqué par email.
</p>
<p>
    La participation aux frais de préparation logistique et d’expédition s’entend TTC. Toutes les livraisons sont annoncées par courrier électronique.
</p>
<p>
    Dans le cas d’une expédition partielle, l’utilisateur sera informé par courrier électronique de l’envoi des produits et/ou services présents dans le colis
    expédié.
</p>
<p>
    Le délai de livraison maximal est de 30 jours ouvrés à compter de la commande du produit ou service, sauf stipulation particulière indiquée à l'Utilisateur
    avant la passation de la commande ainsi que préalablement à la validation définitive de celle-ci. Dans ce cas, diigwa.com indiquera au Utilisateur
    une fourchette estimative de date de livraison.
</p>
<br><br>
<p>
    <u>9.1 Retard de livraison</u>
</p>
<br><br>
<p>
Dans un tel cas, l’Utilisateur peut contacter le Service Relations Utilisateurs de "diigwa.com" "contact@diigwa.com", dont les coordonnées sont indiquées dans la rubrique «    <em>Aide &amp; Contact</em> » du Site Internet et en sélectionnant l’objet correspondant à sa demande.
</p>
<p>
    L’Utilisateur dispose de la faculté d’annuler sa commande si la livraison de celle-ci n’est pas intervenue au plus tard sept jours ouvrés après la date de
    livraison indiquée par “diigwa.com“, sauf si ce retard de livraison est dû à un cas de force majeure au sens de la jurisprudence des Tribunaux français.
</p>
<p>
    Dans les 10 jours ouvrés suivant la demande d’annulation par l’utilisateur, “diigwa.com" effectuera auprès de sa banque ou de son compte PayPal une demande
    de remboursement de l’Utilisateur, recevra un virement ou un transfert d’argent.
</p>
<br><br>
<p>
    <u>9.2 Livraison partielle</u>
</p>
<br><br>
<p>
    L’Utilisateur sera informé par courrier électronique de la livraison partielle d’une commande. Un second courrier électronique l’informera de la livraison
    des autres produits et/ou services commandés.
</p>
<br><br>
<p>
    <u>9.3 Force majeure</u>
</p>
<br><br>
<p>
    “diigwa.com “ et l’utilisateur ne seront pas tenus pour responsables d’un manquement ou d’un retard dans l’exécution de leurs obligations si un tel
    manquement ou retard est dû à un cas de force majeure.
</p>
<p>
    Sont considérés comme cas de force majeure ou cas fortuit outre ceux habituellement retenus par la jurisprudence des cours et des tribunaux français, les
    cas de force majeure ou les cas fortuits subis par les partenaires de diigwa.com, les grèves, intempéries (tempêtes, inondations, pluie, etc.) et la
    défaillance des moyens de télécommunications. Le cas de force majeure suspend les obligations de la partie qui l’invoque pendant le temps où jouera la
    force majeure. Les obligations contractuelles reprennent dès que la force majeure cesse.
</p>
</section>


<section class="container-fluid" id="disposition">

<h3>
    Article 10 – Dispositions générales
</h3>
<br><br>
<p>
    a) Si une ou plusieurs stipulations des présentes sont tenues pour non valides ou nulles par une loi ou un règlement ou déclarées telles par une décision
    définitive d'une juridiction compétente, les autres stipulations gardent toute leur force et leur portée.
</p>
<p>
    b) Le fait pour une Partie de ne pas se prévaloir d’un manquement par l’autre Partie à l’une de ses obligations, ne saurait être interprété pour l’avenir
    comme une renonciation à l’obligation en cause.
</p>
<p>
    c) Les présentes conditions sont soumises à la loi française.

</section>

</p>
<section class="container-fluid" id="loi">

<h3>
    Article 11 – Loi applicable et attribution de compétence
</h3>
<br><br>
<p>
    Le Contrat est régi par la loi française.   
</p>
<p>
    En cas de litige, l’utilisateur s’adressera par priorité à diigwa.com pour obtenir une solution amiable.
</p>
<p>
    Tout litige relatif à l'interprétation et à l'exécution du Contrat, sera soumis, à défaut d'accord amiable dans un délai de quinze (15) jours à compter de
    la notification du différend par la partie la plus diligente, à la compétence exclusive du Tribunal de Commerce de Paris.
</p>
</section>

          
        </div><!-- /.col-xs-12 main -->
    </div><!--/.row-->
  </div><!--/.container-->
</div><!--/.page-container-->