<% provide(:title, "Aide diigwa services pour les africains ") %>

<div id="wrapper">
  <div id="sidebar-wrapper" class="col-md-1">
    
  </div>
  <div id="main-wrapper">
    <div id="main">
      <div class="col-sm-8 ">

        <div class="page-header">


          <br>
          <br>
          <br>
          <br>

          <h1> VOS QUESTIONS</h1>

        </div>
        
        <i>
          <li><h2><p>POSEZ VOS QUESTIONS PAR MAIL</p></h2></li>

          <br><br>
          

          <h2><li><%= link_to "POSEZ VOS QUESTIONS SUR TWITTER", 'https://twitter.com/DiiGwa', :target => "_blank" %></li>

            <br><br>

            <li><%= link_to "POSEZ VOS QUESTIONS SUR NOTRE PAGE FACEBOOK", 'https://www.facebook.com/diigwa/', :target => "_blank" %></li>
            <br><br>

            <li><%= link_to "POSEZ VOS QUESTIONS GOOGLE +", 'https://plus.google.com/b/103994619259878507876/103994619259878507876', :target => "_blank" %></li>
          </h2>

          <br><br>



        </i>

        

        
      </div>


    </div>
  </div>
</div>