<% provide(:title, "Mention") %>
            <br>
            <br>


<div class="page-container">
  

      
    <div class="container">
      <div class="row row-offcanvas row-offcanvas-left">
        
        <!-- sidebar -->
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">Link 1</a></li>
              <li><a href="#">Link 2</a></li>
              <li><a href="#">Link 3</a></li>              
            </ul>
        </div>
  	
        <!-- main area -->
        <div class="col-xs-12 col-sm-9">
                      <br>
            <br>
            <br>

          <h1>Mentions légales</h1>
<p>
    <strong>Mentions légales</strong>
</p>
<p>
    <strong>Editeur du Site et responsable de la publication </strong>
</p>
<p>
    Raison sociale : CHOOSE STAY
</p>
<p>
    La société CHOOSESTAY est une société par actions simplifiée au capital de 10 000 €, immatriculée au Registre du Commerce de Paris sous le numéro 810 584
    276
</p>
<p>
    Siège social : 142 rue de Rivoli - 75001 Paris
</p>
<p>
    Numéro de téléphone : 00 33 (0) 6 ** ** ** **
</p>
<p>
    Numéro TVA intracommunautaire : FR79 801 590 530
</p>
<p>
    Responsable de la publication : <u>Kouakou MENSAH</u>
</p>
<p>
    <strong>Hébergeur</strong>
</p>
<p>
    Raison sociale : SAS OVH
</p>
<p>
    Adresse : 2 rue Kellermann – 59100 Roubaix – France
</p>
<p align="center">
    <strong>***</strong>
</p>
<p>
    CHOOSE STAY exploite une plateforme accessible via le site internet <a href="http://www.diigwa.com">www.diigwa.com</a> (le « Site ») d’ e-commerce.
</p>
<p>
    Numéro agrément SAP : 810584276
</p>
<p>
    <strong>Utilisation du Site</strong>
</p>
<p>
    Choose stay offre gratuitement aux Utilisateurs un accès au Site et aux différents points de contact du service demandé.
</p>
<p>
    Choose stay enverra à l’Utilisateur par le biais du canal choisi par ce dernier (SMS, email, Direct message Twitter…) un récapitulatif de sa commande et
    une demande de confirmation.
</p>
<p>
    L’Utilisateur s’engage à fournir des informations exactes, complètes et à jour, tout particulièrement les données nécessaires à la réalisation de la
    prestation (adresse postale, numéro de téléphone, informations bancaires, etc.).
</p>
<p>
    <strong>Confidentialité des données</strong>
</p>
<p>
    En application de la loi n° 78-17 du 6 janvier 1978, modifiée par la loi n° 2004-801 du 6 août 2004, il est rappelé que les données nominatives qui sont
    demandés à l’Utilisateur sont nécessaires au traitement de sa demande et sont destinées à un usage interne par choose stay. Ces données nominatives peuvent
    néanmoins être transmises à des tiers, fournisseurs, partenaires et sous-traitants de C exclusivement pour la réalisation des services proposés par
    choosestay. Ce traitement informatique a fait l'objet d'une déclaration auprès de la Commission Nationale Informatique et Libertés (CNIL), sous le numéro :
    1862157 v 0.
</p>
<p>
    Le défaut de communication de ces données aura pour conséquence l’impossibilité d’accéder ou d’utiliser les services offerts sur le Site.
</p>
<p>
    L’Utilisateur dispose d'un droit d'accès, de modification, de rectification et d'opposition, s'agissant des informations le concernant, qu'il adressera par
    courrier simple à la société Choose stay – 142 rue de rivoli - 75001 Paris, ou par email à l'adresse
    <br/>
    suivante : contact@diigwa.com, en justifiant de son identité.
</p>
<p>
    <strong>Propriété intellectuelle </strong>
</p>
<p>
    Le Site dans son ensemble et chacun des éléments qui y sont représentés et qui le composent (tels que textes, arborescences, logiciels, animations,
    photographies, illustrations, schémas, logos, marques, dessins et modèles) sont, sauf mentions contraires, la propriété exclusive de choose stay , qui est
    seule habilitée à utiliser et exploiter les droits de propriété intellectuelle et droits de la personnalité y afférents.
</p>
<p>
    L'usage de tout ou partie du Site, notamment par téléchargement, reproduction, transmission, représentation ou diffusion à d'autres fins que pour votre
    usage personnel et privé dans un but commercial ou non est strictement interdit. La violation de ces dispositions vous soumet aux sanctions prévues par la
    loi.
</p>
<p>
    Toutes les informations contenues sur le Site sont susceptibles d'être modifiées à tout moment, sans que cela puisse engager la responsabilité de
    Choosestay.
</p>
          
        </div><!-- /.col-xs-12 main -->
    </div><!--/.row-->
  </div><!--/.container-->
</div><!--/.page-container-->