<% provide(:title, "service") %>
            <br>
            <br>
            <br>
            <br>
            <br>

<div class="page-container">
  
      
    <div class="container">
      <div class="row row-offcanvas row-offcanvas-left">
        
        <!-- sidebar -->
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#paypal">Paypal</a></li>
              <li><a href="#virement">Virement bancaire</a></li>
              <li><a href="#transfert">Transfert d'argent</a></li>              
            </ul>
        </div>
  	
        <!-- main area -->
        <div class="col-xs-12 col-sm-9">

            <br>
            <br>
            <br>
            <br>

          <h1>Moyen de paiement</h1>

            <br>
            <br>

<section class="container-fluid" id="paypal">

<h3>
Paypal</h3>
<p>
    
</p>
<p>
1 .Vous Recevez votre facture par email
</p>
<p>
2.    Vous Payez avec votre compte Paypal ou avec votre carte bleue
</p>

<li><a href="https://www.paypal.com/fr/signup/account?&kw=paypal%20compte&adgroup=Account%20-%20(E)&creative=83250982004&matchtype=e&PID2=KIUTleal&network=g&adposition=1t1&target=&devicemodel=&campaign=FR_FR_ALL_TM_GS_Other_(E)&adtype=&geo_region=&geo_country=&ct=[program]&act=[account]&obj=[objective]&ch=[campaigntype]&tt=[tm]&mv=google&PID1=sKIUTleal%7Cdc;83250982004;paypal%20compte;e;;eu84e2fpi0&gclid=Cj0KEQiAlae1BRCU2qaz2__t9IIBEiQAKRGDVdbqUGyX4yzoDy2rfn8nrdMA6rUZmuNh2laPmhrG9tYaAtdM8P8HAQ&mpch=ads&rftp=4&srce=cnvr&ercc=27730-205743-2056-2&spid=177403207831639831"target="_blank">Créer votre compte PayPal</a></li>
</section>

<section class="container-fluid" id="virement">

<h3>Virement Bancaire</h3>
<p>
    <strong> Veuillez nous contacter </strong>
</p>


</section>

<section class="container-fluid" id="transfert">

<h3>Transfert d'argent</h3>
<p>
    <strong>Veuillez nous contacter</strong>
</p>


</section>

          
        </div><!-- /.col-xs-12 main -->
    </div><!--/.row-->
  </div><!--/.container-->
</div><!--/.page-container-->
